/* Smooth scroll for anchor links */
html {
  scroll-behavior: smooth;
}
/* Navbar styles */

.navbar {
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); /* Menambahkan efek blur di belakang navbar */
  padding-left:  15px; /* Ganti dengan padding yang diinginkan */
  padding-right: 15px; /* Ganti dengan padding yang diinginkan */
  transition: background-color 0.3s;
}

/* Untuk menghindari padding yang berlebihan pada elemen dalam navbar */
.navbar .container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}

.navbar-brand img {
  width: 115px;
  height: 48px;
}

/* Navbar styling when scrolling */
.navbar.scrolled {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adjust content padding to avoid overlap with navbar */
.container.mt-5 {
  padding-top: 0px; /* Adjust based on navbar height */
}

.nav-link.active {
  color: #007bff; /* Warna teks aktif */
  font-weight: bold; /* Teks menjadi tebal */
  background-color: rgba(255, 255, 255, 0); /* Warna latar belakang saat aktif (opsional) */
  border-radius: 4px; /* Radius sudut untuk efek */
}


.navbar-nav .nav-link {
  margin-left: 15px; /* Adjust as needed */
}

.navbar-nav .nav-link.active {
  font-weight: bold; /* Highlight active link */
}

.hero-text {
  width: 50%;
}

.hero-text h2 {
  font-size: 2.5rem;
}

.carousel-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-carousel {
  width: 550px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}
/* Carousel container styles */

/* Footer styles */
.footer {
  background-color: #000000; /* Replace with your desired color */
  padding: 20px;
  text-align: center;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
  color: #6c757d; /* Replace with your desired color */
}

.container-pendaftaran {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.spasi {
  margin-top: 20px;
}

.full-width-container {
width: 100%;
padding-left: 80px;
padding-right: 80px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.table-wrapper {
max-width: 1034px;
width: 100%;
background-color: #fff;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
padding: 20px;
border-radius: 8px;
}
.table-container {
max-height: 500px; /* Sesuaikan dengan tinggi maksimum yang diinginkan */
overflow-y: auto;
}
