/* ini file Style-posttest.css */
body { 
font-family: Arial, sans-serif; 
margin: 20px; 
} 
h2 {
    text-align: center;
}
form { 
max-width: 300px; 
padding: 20px; 
border: 1px solid #333; 
border-radius: 8px; 
background-color: #f9f9f9; 
} 
label { 
display: block; 
margin-top: 10px; 
} 
input, select { 
width: 100%; 
padding: 8px; 
margin-top: 5px; 
box-sizing: border-box; 
} 
input[type="button"], input[type="reset"] { 
width: 48%; 
margin-top: 15px; 
} 